extend layout
block content
     h1 #{title}
     p Math.acosh() is applied to #{a1} is #{f}
     p Math.log1p() is applied to #{a2} is #{r}
     p Math.tan() is applied to #{a3} is #{t}
     p Math.sqrt() is applied to #{a4} is #{s}